.chatButton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #da552f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 100px;
    cursor: pointer;
}
.chatButton img {
    width: 50px;
}
.chatBox{
    width: 350px;
    height: 450px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chatBox .chatHeader {
    width: 100%;
    height: 30px;
    background-color: #da552f;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.chatBox .chatHeader button {
    width: 20px;
    height: 5px;
    background-color: #f0d8d1;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.chatBox .chatBody{
    width: 100%;
    height: 100%;
    background-color: #f0d8d1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}
.chatBox .chatBody span label {
    font-size: 10px;
    align-items: baseline;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.chatBox .chatBody span{
    max-width: 311px;
    color: white;
    display: block;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 4px 4px 4px 0;
    margin: 3px;
    text-align: left;
    background-color: #e98a70;
    position: relative;
    padding-right: 40px;
}
.chatBox .chatBody span p {
    color: rgb(17, 17, 17);
    font-size: 14px;
}
.chatBox .chatBody span::before{
    border: 8px solid transparent;
    border-bottom: 1px solid transparent;
    border-right-color: #e98a70;
    content: "";
    left: -16px;
    bottom: 0;
    /* margin-top: 14px; */
    position: absolute;
}
.chatBox .chatBody span.myMsg{
    text-align: left;
    margin-left: auto;
    background-color: #da552f;
}
.chatBox .chatBody span.myMsg::before{
    display: none;
}
.chatBox .chatBody span.myMsg::after{
    border: 8px solid transparent;
    border-bottom: 1px solid transparent;
    border-left-color: #da552f;
    content: "";
    right: -15px;
    bottom: 0;
    position: absolute;
}
.chatBox .inputMsg {
    width: 100%;
    height: 50px;
    background-color: #f0d8d1;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
}
.chatBox .inputMsg input {
    border: none;
    border-radius: 20px;
    width: 280px;
    height: 30px;
    margin: 10px;
    padding-left: 20px;
    font-size: 18px;
}
.chatBox .inputMsg button {
    transition: 0.5s;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #da552f;
    cursor: pointer;
}
.chatBox .inputMsg button:hover{
    background-color: #e97555;
}
.chatBox .inputMsg button div {
    margin-left: 11px;
    border-top: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px double transparent;
    border-left: 15px dashed white;
    border-radius: 3px;
}
/* SCROLL */
::-webkit-scrollbar {
    width: 15px;
    height: 90%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 7px 5px rgba(216, 216, 216, 0.733); 
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e97555; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e98a70; 
  }

.hidden {
    display: none;
}
.displayNone {
    display: none;
}
@media (max-width: 800px){
    .chatButton {
        bottom: 20px;
        right: 20px;
    }
    .chatBox {
        bottom: 10px;
        right: 10px;
    }
}