.product-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.product-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}
.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.product-list article a:hover {
    background: #da552f;
    color: #fff;
}
.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.product-list .actions button:hover {
    opacity: 0.7;
}
.product-list .actions button[disabled]:hover {
    opacity: 0.5;
}
.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadingCircle {
    width: 100px;
    height: 100px;
    border: 20px solid #da552f;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}
.hidden {
    display: none;
}
.displayNone {
    display: none;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


